header{
    width: 100%;
    font-size: 32px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
    background-color: lightsalmon;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}

img{
    width: 40%;
    margin: 10px auto;
    display: block;
}

.home{
    float: left;
}

.button{
    float: right;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.button-onhover{
    color: darkred;
}

figcaption {
    text-align: center;
    padding-bottom: 15px;
}
