header{
    position: fixed;
    width: 100%;
    z-index: 1000;
    font-size: 32px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
    background-color: rgb(200,200,200);
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

body{
    background-color: rgb(250,250,250);
}

.button{
    color: black;
    text-decoration: none;
}

.button:nth-child(3)::before {
    content: " |";
    color: rgb(12, 12, 12);
}

.button:nth-child(3)::after {
    content: "| ";
    color: rgb(12, 12, 12);
}

.button-onhover:hover{
    color: white;
}

.pages{
    float: right;
}

.home{
    float: left;
}

.fp {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*default 3 columns*/
    gap: 1rem;
    padding: 1rem;
    max-width: none;
    margin: auto;
}

@media (max-width: 768px) {
    .fp {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on tablets */
    }
}

@media (max-width: 480px) {
    .fp {
        grid-template-columns: 1fr; /* 1 column on phones */
    }
}

img{
    width: 100%;
    height: auto;
    margin: 10px;
    display: block;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 30px; /* Space between columns and rows */
    width: 90%;
    max-width: 800px;
    margin: auto;
}

#lightbox {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  #lightbox img {
    height: auto;
    width: auto;
    max-width: 90%;
    max-height: 90%;
  }
  
  #lightbox.show {
    display: flex;
  }