header{
    width: 100%;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    margin: 4px;
    background-color: darkgrey;
}

img{
    width: 20%;
    margin: auto;
}

.home{
    float: left;
}

.button{
    float: right;
}